* {
  font-family: Helvetica, Arial, sans-serif;
}


body {
  padding: 5%;
}

input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 0.1rem solid grey;
  border-radius: 0.2rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  overflow: hidden;
}

.card p {
  padding: 0.5rem;
  text-align: center;
}

.card img {
  max-height: 10rem;
}